*
{
  box-sizing: border-box!important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* jumbotron*/


.jumbo
{
  background-color:black!important;
  height: 23.5vh!important;
  padding:2vh!important;
  color:whitesmoke!important;
  position: relative;
  display: fixed;
  
}

@media (max-width: 960px) {
  .jumbo{
   height: 18vh!important;
 
  }
  
 }
@media (max-width: 1400px) {
  .heading{
    padding:1px!important;
    margin-left:5px!important;
    margin-top:5px!important;
    font-size:25px!important;
    

  }
  .iframe
  {
    width: 100%;
  }
 
}

.btn{
  padding:0px;
  margin:0px;
  

}


.menu:active
{
  transform :translateY(4px) scale(0.8);
  
  
}
#search
{
 position:relative;
 margin-left:5px!important;
}
#searchicon
{
  position:absolute;
  right:10px;
  top:6px;
  
}

.footer
{
  color:white;
  padding:20px;
  background-color:black;
 
  
}
a:link{
  color:white;
}

[class*="col-"] {
  padding-right: 10px;
  padding-left: 5px;
  

  
}

@media (max-width: 576px) {
  .heading{
    font-size:8px!important;
  }
  .jumbo
  {
    height: 30vw!important;
  }
  .login
{
  margin-left:15px;
}
.cart
{
  margin-left: 5px;
}
 
}
@media (max-width: 450px ) {
  iframe{
    width: 95%;
    
  }
  .jumbo
  {
    height: 30vw!important;
  }
 
 
}
@media(max-width:375px)
{
  .jumbo
  {
    height: 35vw!important;
  }

}

