*
{
  box-sizing: border-box!important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* jumbotron*/

/*
side bar*/
.container
{
  border:none;
}
.sidebar {
  
  width: 23vw!important;
  background-color:whitesmoke;
  height: 100%;
  
}
.navbar
{
  background-color:black!important;
  color:white;
  
}
.navtop
{
  color:white;
  background-color: black;
  height:15vh!important;
  padding:1rem;
  box-sizing: border-box;
  vertical-align: auto!important;
}
.jumbo
{
  background-color:black!important;
  height: 25.5vh!important;
  padding:2vh!important;
  color:whitesmoke!important;
}
a
{
  font-style:bold;
  font-size:1.3rem;
  color:orangered!important;
  padding-bottom: 4vh;
}
a:hover{
  text-decoration:none;
}
.side-items
{
  
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.navbar-brand
{
  cursor: pointer;
}
.btn{
  padding:0px;
  margin:0px;
}



.menu:hover,.navicon:hover
{
  transform : scale(1.2);
  

}
#search
{
 position:relative;
 margin-left:5px!important;
}
#searchicon
{
  position:absolute;
  right:16px;
  top:6px;
  
}

.footer
{
  color:white;
  padding:20px;
  background-color:black;
 
  
}
a:link{
  color:white;
}






.itemcard
{
  width:50vw!important;
  height:20vh!important;
}
.badge
{
  background-color:rgb(30, 126, 170);
  color:white;
}
.cartbutton
{
  height:1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
  background-color:orangered;
 
  font-size:1rem;
  font-style: bold;
  color:white;
  
  border-radius: .3rem;
}
.cartbutton:hover{
  background-color:orange;


}
.cartbutton:active{
 
  transform :translateY(4px) scale(0.8);
  

}
p{
  
  text-align: center;

}
.cardimg:hover
{
  transform :translateY(4px) scale(0.9)!important;

}
@media (max-width: 1400px) {
  .heading{
    padding:1px!important;
    margin-left:5px!important;
    margin-top:5px!important;
    font-size:25px!important;
  }
  .iframe
  {
    width: 100%;
  }
 
}
@media (max-width: 960px) {
  .jumbo{
   height: 18vh!important;
 
  }
  
 }
@media (max-width: 576px) {
  .heading{
    font-size:8px!important;
  }
  .jumbo
  {
    height: 30vw!important;
  }
  .login
{
  margin-left:15px;
}
.cart
{
  margin-left: 5px;
}
.navtop{
  padding-top:2rem;
}
 
}
@media (max-width: 450px ) {
  iframe{
    width: 95%;
    
  }
  .jumbo
  {
    height: 30vw!important;
  }
  .sidebar
  {
    width: 45vw!important;
  }
  
 
}@media(max-width:375px)
{
  .jumbo
  {
    height: 35vw!important;
  }
  
  .cartbutton
  {
    font-size:8px!important;
    
    height:2em!important;
     width: 2em!important;
     margin:0.2em!important;
  }
 
  strong
  {
    font-size:14px;
  }
}
/* for scroll*/
.box
{
  max-height:10rem;
  display: inline-block;
  overflow: auto;
}


@media(max-height:1400px)
{
  .navtop{
    height: 15vh!important;
    
  }
}
@media(max-height:640px)
{
  .navtop{
    height: 14vh!important;
  }
  .categheight
  {
    height:25vh;
  }

}
@media(max-width:360px)
{
  a
  {
    font-size:1rem;
  }
}
.box{
  
  overflow-x:scroll;
  
  
  white-space: nowrap;
  
  

}
.box::-webkit-scrollbar
{
  display: none;
}
.itemsscroll
{
  display: inline-block;
  margin-right: 7.5vw;
  
  
}


