*
{
  box-sizing: border-box!important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* jumbotron*/
.navbar
{
  background-color:black!important;
  color:white;
  
}

.jumbo
{
  background-color:black!important;
  height: 25.5vh!important;
  padding:2vh!important;
  color:whitesmoke!important;
}

@media (max-width: 960px) {
  .jumbo{
   height: 18vh!important;
 
  }
  
 }
@media (max-width: 1400px) {
  .heading{
    padding:1px!important;
    margin-left:5px!important;
    margin-top:5px!important;
    font-size:25px!important;
    
    
    

  }
  .iframe
  {
    width: 100%;
  }
 
}

.btn{
  padding:0px;
  margin:0px;
  

}


.menu:active
{
  transform :translateY(4px) scale(0.8);
  
  
}
#search
{
 position:relative;
 margin-left:5px!important;
}
#searchicon
{
  position:absolute;
  right:10px;
  top:6px;
  
}

.footer
{
  color:white;
  padding:20px;
  background-color:black;
 
  
}
a:link{
  color:white;
}

[class*="col-"] {
  padding-right: 10px;
  padding-left: 5px;
  

  
}

@media (max-width: 576px) {
  .heading{
    font-size:8px!important;
  }
  .jumbo
  {
    height: 30vw!important;
  }
  .login
{
  margin-left:15px;
}
.cart
{
  margin-left: 5px;
}
 
}
@media (max-width: 450px ) {
  iframe{
    width: 95%;
    
  }
  .jumbo
  {
    height: 30vw!important;
  }
 
 
}
@media(max-width:375px)
{
  .jumbo
  {
    height: 35vw!important;
  }
  
  .cartbutton
  {
    font-size:8px!important;
    
    height:2em!important;
     width: 2em!important;
     margin:0.2em!important;
  }
  strong
  {
    font-size:14px;
  }
  
  

}
.itemcard
{
  width:50vw!important;
  height:20vh!important;
}
.badge
{
  background-color:rgb(30, 126, 170);
  color:white;
}
.cartbutton
{
  height:1.5rem;
  width: 1.5rem;
  margin: 0.5rem;
  background-color:orangered;
 
  font-size:1rem;
  font-style: bold;
  color:white;
  
  border-radius: .3rem;
}
.cartbutton:hover{
  background-color:orange;


}
.cartbutton:active{
 
  transform :translateY(4px) scale(0.8);
  

}
p{
  
  text-align: center;

}
.cardimg:hover
{
  transform :translateY(4px) scale(0.9)!important;

}
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: red;
  border: none;
  color: red;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color:red;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}